body {
  background: black;
}

#app {
  width: 90vw;
  height: 52.5vw;
  max-height: 95vh;
  max-width: 162.857vh;
  margin: 0 auto;
}

#board {
  width: 90vw;
  height: 52.5vw;
  max-height: 95vh;
  max-width: 162.857vh;
  display: grid;
  grid-template-columns: 1fr 49% 1fr;
  grid-template-rows: 7.5% 85% 7.5%;
}

#boardImage {
  grid-area: 1/1/4/4;
  object-fit: contain;
  z-index: 0;
  width: 90vw;
  height: 52.5vw;
  max-height: 95vh;
  max-width: 162.857vh;
}

#innerBoard {
  z-index: 1;
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.boardSlot {
  z-index: 2;
}

.card {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0;
  grid-template-columns: 4% 8% 8% 8% 8% auto 25%;
  grid-template-rows: 4% 15% 15% 15% auto;
}

.card.player1card1, .card.player1card2, .card.player1card3, .card.player1card4, .card.player1card5, .card.player2card1, .card.player2card2, .card.player2card3, .card.player2card4, .card.player2card5 {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0;
  grid-template-columns: 4% 8% 8% 8% 8% auto 25%;
  grid-template-rows: 8% 30% 30% 30% auto;
}

.cardBackground {
  z-index: 3;
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin: 0;
  grid-area: 1/1/6/8;
}

.cardImg {
  z-index: 4;
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin: 0;
  grid-area: 1/1/6/8;
}

.cardBack {
  z-index: 4;
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin: 0;
  grid-area: 1/1/6/8;
}

.rank {
  z-index: 5;
  height: 100%;
  width: 100%;
  margin: 0;
}

.rank.top {
  grid-area: 2/3/3/5;
  margin: auto auto 0 auto;
}

.rank.right {
  grid-area: 3/4/4/6;
  margin: auto auto auto 0;
}

.rank.bottom {
  grid-area: 4/3/5/5;
  margin: 0 auto auto auto;
}

.rank.left {
  grid-area: 3/2/4/4;
  margin: auto 0 auto auto;
}

.hand {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 16.7%) ;
  overflow: visible;
  width: 65%;
  margin: 0 auto;
}

.hand.player1 {
  grid-column: 3;
}

.hand.player2 {
  grid-column: 1;
}

.hand.selected {

}

.player1card1, .player2card1 {
  z-index: 4;
}

.player1card2, .player2card2 {
  z-index: 6;
}

.player1card3, .player2card3 {
  z-index: 8;
}

.player1card4, .player2card4 {
  z-index: 10;
}

.player1card5, .player2card5 {
  z-index: 12;
}
